<!DOCTYPE html>
<html lang="en">
  <head>
    <title>An online portal for safety devices</title>
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <link rel="stylesheet" href="/css/hover.css">
    <link rel="stylesheet" href="/css/custom.css">
    <script src="/js/custom.js"></script>
  </head>

  <body id="block">
  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">SafeCart</a>
    </div>
    <div class="navbar-header">
        <a class="logo" href="#"><img src="/img/logo.jpeg" width=50px height=50px ></a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/cart">Cart</a></li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <% for (var i = 0; i < categories.length; i++)  { %>
                      <li><a href="/products/<%= categories[i]._id %>"><%= categories[i].name %></a></li>
                    <% } %>
        </ul>
      </li>
    </ul>
    <form class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <ul class="nav navbar-nav navbar-right">
      <% if (!user) { %>
                  <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sign Up/ Login <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/signup">Signup</a></li>
                      <li><a href="/login">Login</a></li>
                    </ul>
                  </li>
                

                 <% } else { %>

                   <li><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= user.profile.name %><span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/profile">Profile</a></li>
                      <li><a href="/logout">Logout</a></li>
                    </ul>
                  </li>
                  <% } %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
                  <% if (user) { %>
                    <li><a href="/cart" class="glyphicon glyphicon-shopping-cart"><span class="badge"><%= cart %></span></a></li>
                    <% } else { %>
                      <li><a href="/cart" class="glyphicon glyphicon-shopping-cart"><span class="badge">0</span></a></li>
                      <% } %>
                    </ul>
      
  </div>
</nav>

      <div class="container">
          <div class="row section" data-aos="zoom-in" data-aos-duration="2000">
              <div class="col-md-4">
                  <img  src="<%= product.image %>" class="img-responsive img-thumbnail img-circle" width=100% hight=100%>
              </div>
              <div class="col-md-8">
                 <div><h1>
                  <a href="" class="typewrite" data-period="2000" data-type='[ "Hi, I am <%= product.name %> , I am Road Safety product", "Use Me , And be Safe on Roads." ]'>
                    <span class="wrap"></span>
                  </a>
                </h1></div>
                 <div class="panel-group" id="accordion">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                            Description</a>
                          </h3>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                          <div class="panel-body content"><%= product.spec %></div>
                        </div>
                      </div>
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                            Application</a>
                          </h3>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                          <div class="panel-body content">+<%= product.uses %></div>
                        </div>
                      </div> 
                  </div>
                  <button class="btn btn-default c" style="width:100%"><a href="#" data-toggle="tooltip" title="BIS Standard"> BIS Standard Aprroved</a></button ><br><br>
                  <button class="btn btn-default c" style="width:100%"><a href="#" data-toggle="tooltip" title="International Standard">International Standard Approved</a></button>
              </div>
          </div><br><hr>
          <div class="well well-md msg" data-aos="flip-right"data-aos-duration="2000" ><h3>Want to buy safest and cheapest version ?</h3></div>
          <div class="section" data-aos="zoom-in">
          <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#home">Option1</a></li>
              <li><a data-toggle="tab" href="#menu1">Option2</a></li>
              <li><a data-toggle="tab" href="#menu2">Option3</a></li>
            </ul>

            <div class="tab-content">
              <div id="home" class="tab-pane fade in active">
                <h3 >Shop 1</h3><br>
                <img src="<%= product.image %>" class="img-responsive img-thumbnail img-rounded" width=250px hight=250px><br><hr>
                <h3><%= product.name %></h3><br>
                  <from method="post" action="/product/<%=product._id %>">
                  <input type="hidden" name="product_id" id="quantity" value="<%= product._id %>">
                  <input type="hidden" name="product_id" id="quantity" value="<%= product.price %>">
                  <div class="well well-sm"><h4>Price:<%= product.price %>  <i class="fa fa-inr"></i></h4></div>
                  <% if(user) { %>
                    <button class="btn btn-warning"><a href="<%= product.option1 %>" class="hvr-icon-pulse-grow">BuyNow</a></button>
                    <% } else { %>
                      <a href="/signup" class="btn btn-warning btn-lg"> Signup to begin buying</a>
                      <% } %>
                  </from>
              </div>
              <div id="menu1" class="tab-pane fade in">
                <h3 >Shop 2</h3><br>
                <img src="<%= product.image %>" class="img-responsive img-thumbnail img-rounded" width=250px hight=250px><br><hr>
                <h3><%= product.name %></h3><br>
                  <from method="post" action="/product/<%=product._id %>">
                  <input type="hidden" name="product_id" id="quantity" value="<%= product._id %>">
                  <input type="hidden" name="product_id" id="quantity" value="<%= product.price %>">
                  <div class="well well-sm"><h4>Price:<%= product.price %>  <i class="fa fa-inr"></i></h4></div>
                  <% if(user) { %>
                    <button class="btn btn-warning"><a href="<%= product.option2 %>" class="hvr-icon-pulse-grow">BuyNow</a></button>
                    <% } else { %>
                      <a href="/signup" class="btn btn-warning btn-lg"> Signup to begin buying</a>
                      <% } %>
                  </from>
              </div>
              <div id="menu2" class="tab-pane fade in">
                <h3 >Shop 3</h3><br>
                <img src="<%= product.image %>" class="img-responsive img-thumbnail img-rounded" width=250px hight=250px><br><hr>
                <h3><%= product.name %></h3><br>
                  <from method="post" action="/product/<%=product._id %>">
                  <input type="hidden" name="product_id" id="quantity" value="<%= product._id %>">
                  <input type="hidden" name="product_id" id="quantity" value="<%= product.price %>">
                  <div class="well well-sm"><h4>Price:<%= product.price %>  <i class="fa fa-inr"></i></h4></div>
                  <% if(user) { %>
                    <button class="btn btn-warning"><a href="<%= product.option3 %>" class="hvr-icon-pulse-grow">BuyNow</a></button>
                    <% } else { %>
                      <a href="/signup" class="btn btn-warning btn-lg"> Signup to begin buying</a>
                      <% } %>
                  </from>
              </div>
            </div>
      </div>
      <footer align="left">
        <br><br><br>
        <p class="pull-right"><a href="#"><center>Back to top</center></a></p>
        <p>&copy; Indian Road Safety Campaign Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
      </div>
      <script>
      AOS.init();
      </script>
  </body>
</html>